In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [2]:
files = pd.DataFrame()

for filename in os.listdir("tickerData"):
    if filename.endswith(".txt"):
        x = pd.read_csv("tickerData/"+filename)
        x.columns = [y.replace(" ", "") for y in x.columns]
        x['TICKER'] = filename[:-4]
        files = pd.concat([files,x], ignore_index=True)

In [3]:
files

,DATE,OPEN,HIGH,LOW,CLOSE,VOL,OI,P,R,RINFO,TICKER
0,19900102,29100.0,29100.0,28750.0,28787.5,39296.0,41185.0,0,0.0,0.0,F_S
1,19900103,28750.0,29112.5,28700.0,29075.0,41543.0,42002.0,0,0.0,0.0,F_S
2,19900104,29150.0,29212.5,28800.0,28825.0,38533.0,42314.0,0,0.0,0.0,F_S
3,19900105,28775.0,28975.0,28712.5,28850.0,31070.0,42684.0,0,0.0,0.0,F_S
4,19900108,28925.0,29200.0,28900.0,29175.0,32373.0,42409.0,0,0.0,0.0,F_S
...,...,...,...,...,...,...,...,...,...,...,...
573816,20210324,33420.0,33560.0,33220.0,33260.0,192.0,3542.0,0,0.0,0.0,F_DL
573817,20210325,33240.0,33800.0,33240.0,33560.0,217.0,3601.0,0,0.0,0.0,F_DL
573818,20210326,33700.0,34220.0,33700.0,34120.0,160.0,3597.0,0,0.0,0.0,F_DL
573819,20210329,34160.0,34580.0,34120.0,34280.0,135.0,3613.0,0,0.0,0.0,F_DL
573820,20210330,34480.0,34700.0,34260.0,34260.0,161.0,3588.0,0,0.0,0.0,F_DL

In [4]:
files['DATE']  = pd.to_datetime(files['DATE'].astype('str'), format = "%Y/%m/%d")

In [5]:
Dow_Futures_Mini = files[files['TICKER'] == 'F_YM']

In [11]:
Dow_Futures_Mini

,DATE,OPEN,HIGH,LOW,CLOSE,VOL,OI,P,R,RINFO,TICKER
284545,1997-10-06,40750.0,40890.0,40600.0,40855.0,22596.0,1884.0,0,0.0,0.0,F_YM
284546,1997-10-07,40780.0,41250.0,40775.0,41160.0,21302.0,2826.0,0,0.0,0.0,F_YM
284547,1997-10-08,41250.0,41250.0,40500.0,40800.0,15260.0,2815.0,0,0.0,0.0,F_YM
284548,1997-10-09,40525.0,40785.0,40225.0,40620.0,13656.0,3129.0,0,0.0,0.0,F_YM
284549,1997-10-10,40250.0,40650.0,40175.0,40615.0,9502.0,3360.0,0,0.0,0.0,F_YM
...,...,...,...,...,...,...,...,...,...,...,...
290450,2021-03-24,161740.0,163345.0,161160.0,161695.0,204475.0,90619.0,0,0.0,0.0,F_YM
290451,2021-03-25,161690.0,162845.0,159755.0,162770.0,253405.0,90151.0,0,0.0,0.0,F_YM
290452,2021-03-26,162770.0,164920.0,162480.0,164770.0,186552.0,90953.0,0,0.0,0.0,F_YM
290453,2021-03-29,164755.0,165670.0,163730.0,165265.0,192123.0,92095.0,0,0.0,0.0,F_YM
290454,2021-03-30,165315.0,165645.0,164295.0,164625.0,164708.0,90507.0,0,0.0,0.0,F_YM